.uno {
    border-radius: 10px !important;
    background-color: rgb(235, 235, 235);
    height: 50%;
}

#dos {
    width: 96%;
    height: 15%;
}

// // .tool {
// //     background: rgb(119, 171, 175);
// //     color: rgb(119, 171, 175);
// //     fill: rgb(119, 171, 175);
// //     background-color:rgb(119, 171, 175);
// }
.icon1 {
    font-size: 40px;
    color: rgb(24, 23, 23);
}

hr {
    height: 0.7%;
    width: 96%;
    background-color: rgb(235, 235, 235);
}

#imagen {
    width: 40px;
    height: 40px;
    }

.text{
    text-align: center;
}