.icon1 {
    font-size: 40px;
    color: rgb(24, 23, 23);
}

.icon2 {
    font-size: 40px;
    color: rgb(7, 7, 7);
}

.tabs1 {
    color: rgba(86, 241, 195, 0.904);
}

.tab {
    background-color: rgb(38, 214, 161);
}

#imagen {
    width: 40px;
    height: 40px;
    }