<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="end">
        <ion-menu-button class="icon1" menu="main-menu"></ion-menu-button>
    </ion-buttons>
     <ion-row>
         <ion-col></ion-col>
         <ion-col><img src="../../assets/imagenes/carro.png" id="imagen" alt=""></ion-col>
         
     </ion-row>
          
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar>
      <ion-tab-button tab="home" class="tab">
          <ion-icon class="icon2" name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="establecimiento" class="tab">
          <ion-icon class="icon2" name="business-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="productos" class="tab">
          <ion-icon class="icon2" name="basket-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="perfil-proveedor" class="tab">
          <ion-icon class="icon2" name="person-outline"></ion-icon>
      </ion-tab-button>
 


  </ion-tab-bar>
</ion-tabs>