#icon1 {
    font-size: 40px;
    color: rgb(24, 23, 23);
}
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  
  .icono {
      font-size: 30px;
  }

  .icono2 {
    font-size: 20px;
}

.tab {
    background-color: rgb(38, 214, 161);
    font-size: 40px;
}

#imagen {
    width: 40px;
    height: 40px;
}

.texto{
   text-align: center;
}

.texto1{
    text-align: center;
}

#texto3{
    text-align: center;
}