<ion-header>
</ion-header>
<ion-content color="success" [fullscreen]="true">
    <div style="height: 50%; display: flex; align-items: center; justify-content: center;">
        <ion-card color="light" style="width: 200px; height: 200px;">
            <ion-card-content>
                <img src="../../assets/imagenes/carro.png"  style="width: 160px; height: 160px;">
            </ion-card-content>
        </ion-card>
    </div>
    <div style="height: 20%; display: flex; align-items: center; justify-content: center;">
        <ion-button color="light" class="top-10" routerLink="/ingresar">INGRESAR</ion-button>
    </div>
    <div style="height: 20%; display: flex; align-items: center; justify-content: center;">
        <ion-button color="light" class="top-10" routerLink="/formulario">REGISTRARSE</ion-button>
    </div>
</ion-content>