<ion-header>
  <ion-toolbar color="success">
          <ion-row>
              <ion-col></ion-col>
              <ion-col><img src="../../assets/imagenes/carro.png" id="imagen" alt=""></ion-col>
              <ion-col></ion-col>
          </ion-row>
          <ion-buttons slot="start">
              <ion-back-button defaultHref="/proveedor/home">
              </ion-back-button>
              </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <br>
    <br>
    <h1 class="text"><b>Ayuda y Soporte</b></h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 class="text" style="color:rgb(173, 172, 169)">Sin servicio</h3>
</ion-content>
<ion-footer class="tab"><br></ion-footer>


