<ion-header>
  <ion-toolbar color="success">
    <ion-row>
      <ion-col></ion-col> 
      <ion-col>
      <img  id="imagen" src="../../assets/imagenes/carro.png ">
      </ion-col>
      <ion-col></ion-col>
      </ion-row>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="/ingresar">
      </ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
    <h2 class="texto"><strong>¿Olvidaste tu contraseña?</strong></h2>

  <br>

<ion-row class="ion-padding-start">
  <ion-label>
  Para restablecer tu contraseña es necesario 
  <br>
  que ingreses tu correo electrónico.
  Recibirás
  <br>
  un email con un link para restablecer tu contraseña.
</ion-label>
</ion-row>
<br><br>

<ion-row class="ion-padding-start"><ion-label><strong>Correo electrónico:</strong></ion-label></ion-row>
<ion-row class="ion-padding-start" id="dos"><ion-input class="uno" [(ngModel)]="contra"></ion-input></ion-row>
<br>

<ion-row>
  <ion-col><hr></ion-col>
  <ion-col><hr></ion-col>
</ion-row>

<ion-row style="width: 97%;" class="ion-padding-start"><ion-button style="width: 100%;" color="success" expand="block" (click)="presentAlert()"> <h6 class="texto">Enviar</h6> 
<ion-icon name="play" class="play"></ion-icon></ion-button></ion-row>

</ion-content>
