#dos{
    width: 96%;
    height: 6%;
}

.uno {
    border-radius: 10px !important;
    background-color:rgb(235, 235, 235);
    height: 100%;
}
hr {
    width: 100%;
    height: 15%;
    background-color: rgb(207, 207, 207);
}
#imagen {
    width: 40px;
    height: 40px;
}

.texto{
    text-align: center;
}

.play{
    position: relative;
    left: 100px;
}
