.text {
    text-align: center;
}

.img {
    font-size: small;
    font-weight: 40px;
    height: 40px;
}

#imagen {
    width: 40px;
    height: 40px;
}

.tab {
    background-color: #34e2ae;
    font-size: 40px;
}