<ion-header>
    <ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                <h1><b>MIS PEDIDOS</b></h1>
            </ion-label>
            <ion-toggle slot="end" value="pepperoni" ></ion-toggle>
        </ion-item>
    </ion-list>
    <br>
    <ion-item>
        <h5>PEDIDOS ENTRANTES</h5>
    </ion-item>

    <ion-list>
        <ion-card padding>
            <div>
                <ion-card-subtitle padding class="ion-text-end">Fecha</ion-card-subtitle>
                <ion-text class="ion-text-start">Id pedido:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Id cliente:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Descripción:</ion-text>
            </div>
            <ion-row>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Rechazar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Aceptar</ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

    <br>
    <ion-item>
        <h5>PEDIDOS EN PROCESO</h5>
    </ion-item>

    <ion-list>
        <ion-card padding>
            <div>
                <ion-card-subtitle padding class="ion-text-end">Fecha</ion-card-subtitle>
                <ion-text class="ion-text-start">Id pedido:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Id cliente:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Descripción:</ion-text>
            </div>
            <ion-row>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Rechazar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Aceptar</ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
    <br>
    <ion-item>
        <h5>PEDIDOS EN TRANCE</h5>
    </ion-item>

    <ion-list>
        <ion-card padding>
            <div>
                <ion-card-subtitle padding class="ion-text-end">Fecha</ion-card-subtitle>
                <ion-text class="ion-text-start">Id pedido:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Id cliente:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Descripción:</ion-text>
            </div>
            <ion-row>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Rechazar</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Aceptar</ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

</ion-content>